// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&family=Ubuntu&display=swap');

main{
    min-height:90vh;
}

#listaTecnico{
    cursor:pointer;
    border:1px solid white;
   
}

.btn-outline-light{
    border-color:$light;
    &:hover{
        background-color: $light;
        border:$light;
        color:$white !important;
    }
}

#maincontainer {
    min-height: 85vh;
}
// navegador tecnicos
#fixednav {
    height: 70vh;
    width: 17%;
    position: fixed;
    right: 0;
    top: 19%;
    z-index: 2;
}
#top-nav-circle {
    height: 80px;
    width: 34%;
    position: fixed;
    right: -17%;
    top: 13%;
}
#bottom-nav-circle {
    height: 80px;
    width: 34%;
    position: fixed;
    right: -17%;
    bottom: 5%;
}


/** EMPLEADOS **/
a.empleados {
    min-width: 20px;
    min-height: 20px;

    svg {
        fill: $azul1;
    }

    &:hover {
        svg {
            fill: $gris1;
        }
    }
}
table.empleados {
    background-color: white;
}

