.login-container {
    margin-top: 20vh;
    width: 100vw;
}
main.login_card {
    max-width: 400px;
    margin: 0 auto;
    width: 90vw;
    border: 1px solid #494949;
    box-shadow: 0 0 4px 2px #494949;
    background: radial-gradient(
        ellipse at left bottom,
        rgba(116, 186, 255, 0.281) 0%,
        #e1e4e8 62%,
        rgba(164, 94, 234, 0.267) 100%
    );

    height: fit-content;
    min-height: fit-content;

    padding: 2em;
}
.login_card_content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}
.login_card_logo {
    display: none;
}
.login_card_logo > img {
    width: 100%;
}
.login_form {
    max-width: 370px;
    height: fit-content;
}
.login_form > .lf_input_text {
    width: 100%;
    margin-bottom: 10px;
}
.login_form > .lf_input_submit {
    margin-top: 1em !important;
    display: block;
    margin: 0 auto;
}
.login_form > .lf_input_submit:hover {
    background-color: rgba(164, 94, 234, 0.411);
    color: white !important;
}
.login_form > .lf_input {
    text-align: center;
    border-radius: 2px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(9, 132, 227);
    color: rgb(9, 132, 227);
}
.login_form > .lf_input:focus {
    outline: none !important;
    border-color: rgb(165, 94, 234);
    color: rgb(165, 94, 234);
    box-shadow: 0 0 2px 1px gray;
}
.login_form > .lf_input_submit:active {
    background-color: rgb(165, 94, 234);
    color: white !important;
    margin: 0 auto;
}
.login_form > .lf_input:not(:placeholder-shown) {
    color: rgb(165, 94, 234);
    border-color: rgb(165, 94, 234);
}
.lf_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(144, 172, 196);
    opacity: 1; /* Firefox */
}
.lf_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(144, 172, 196);
}
.lf_input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(144, 172, 196);
}

@media (min-width: 760px) {
    .login_card_logo {
        display: block;
    }
    .login_card {
        max-width: 684px !important;
    }
    .login_card_title {
        display: none;
    }
}
